desktop.ini
/backup
/tools/MCPackIndexer/Extract*
/tools/MCPackIndexer/IndexData*
/tools/MCPackIndexer/Pack*
/tools/AutoST/modele_ia
/tools/AutoST/stock_srt
/tools/python-manager-26.2.msix
/tools/MCWiki
/builds/Faithful_Legacy
/builds/troll
/tools/PixelCollector/Save
/tools/Aseprite
/tools/BetaCraft/Claim*
/tools/BetaCraft/Heart*
/tools/BetaCraft/Server*
/builds/MJ_DataPacks/data
